@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Rubik:wght@800&display=swap");
body {
  margin: 0;
  overflow: auto;
}

.App {
  position: relative;
  height: 100vh;
}

.App-background {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-background > div:first-of-type {
  background-color: #222;
  flex: 1 1 0;
}

.App-background > div:nth-of-type(2) {
  flex: 2 2 0;
}

.App-background__title-span {
  position: absolute;
  transform-origin: right;
  transform: rotate(90deg);
  text-transform: uppercase;
  right: 0;
  bottom: 0;
  margin: 3rem;
  justify-content: center;
}

.App-wrapper {
  bottom: 0px;
  width: 70vw;
  position: absolute;
  box-sizing: border-box;
  background-color: #f7f500;
  padding: 3.5em 2em;
  font-size: 30px;
  border-radius: 0 50px 0 0;
}

.App-wrapper__headline-paragraph {
  margin: 1em 0;
  text-transform: uppercase;
}

.App-wrapper__heading {
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-size: 3em;
}

.App-wrapper__link::before {
  content: "\27F6";
  font-size: 2em;
  margin-right: 1rem;
}

.App-wrapper__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin: 1.5em 0;
}
